PORT=8000
NODE_ENV=development
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.wbbraks.mongodb.net/my_database?retryWrites=true&w=majority
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
